<ul class="nav container py-2">
  <li class="nav-item">
    <a class="nav-link active" href="#">Seful la bani</a>
  </li>
  <li class="nav-item">
    <button (click)="logout()" class="btn btn-primary">Logout
    </button>
  </li>
</ul>

<div class="container d-flex flex-column py-5">
  <h3 class="text-center">Creaza user</h3>
  <form [formGroup]="fg" *ngIf="fg" (submit)="createUser()">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Nume utilizator</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" formControlName="numeUtilizator">
      </div>
    </div>
    <div class="form-group row">
      <label for="nume" class="col-sm-2 col-form-label">Nume</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nume" formControlName="nume">
      </div>
    </div>
    <div class="form-group row">
      <label for="prenume" class="col-sm-2 col-form-label">Prenume</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="prenume" formControlName="prenume">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3"  formControlName="password">
      </div>
    </div>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="fg.invalid" (click)="createUser()">Create</button>
      </div>
  </form>
</div>

<div class="container d-flex flex-column py-5">
  <h3 class="text-center">Lista useri</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">nume utilizator</th>
      <th scope="col">nume</th>
      <th scope="col">prenume</th>
      <th scope="col">tip</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of listaUseri">
      <th>{{ user.numeUtilizator }}</th>
      <th>{{ user.nume }}</th>
      <th>{{ user.prenume }}</th>
      <th>{{ user.tip }}</th>
      <th>
        <button (click)="deleteUser(user.id)" class="btn btn-primary" type="button">
          Delete
        </button>
      </th>
    </tr>
    </tbody>
  </table>
</div>

<div class="container d-flex flex-column py-5">
  <h3 class="text-center">Lista angajati</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">nume</th>
      <th scope="col">prenume</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of listaAngajati">
      <th>{{ user.nume }}</th>
      <th>{{ user.prenume }}</th>
      <th>
        <button (click)="addTask(user.id)" class="btn btn-primary" type="button">
          Adauga sarcina
        </button>
      </th>
    </tr>
    </tbody>
  </table>
</div>

<div class="container d-flex flex-column py-5">
  <h3 class="text-center">Lista sarcini</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">description</th>
      <th scope="col">status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of listaSarcini">
      <th>{{ user.description }}</th>
      <th>{{ user.status }}</th>
    </tr>
    </tbody>
  </table>
</div>

