<ul class="nav container py-2">
  <li class="nav-item">
    <a class="nav-link active" href="#">Seful la bani</a>
  </li>
  <li class="nav-item">
    <button (click)="logout()" class="btn btn-primary">Logout
    </button>
  </li>
</ul>
<div class="container d-flex flex-column py-5">
  <h3 class="text-center">Lista useri</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">nume utilizator</th>
      <th scope="col">nume</th>
      <th scope="col">prenume</th>
      <th scope="col">tip</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of listaUseri">
      <th>{{ user.numeUtilizator }}</th>
      <th>{{ user.nume }}</th>
      <th>{{ user.prenume }}</th>
      <th>{{ user.tip }}</th>
      <th>
        <button (click)="deleteUser(user.id)" class="btn btn-primary" type="button">
          Delete
        </button>
      </th>
    </tr>
    </tbody>
  </table>
</div>

<div class="container d-flex flex-column py-5">
  <h3 class="text-center">Lista angajati</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">nume</th>
      <th scope="col">prenume</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of listaAngajati">
      <th>{{ user.nume }}</th>
      <th>{{ user.prenume }}</th>
      <th>
        <button (click)="addTask(user.id)" class="btn btn-primary" type="button">
          Adauga sarcina
        </button>
      </th>
    </tr>
    </tbody>
  </table>
</div>

<div class="container d-flex flex-column py-5">
  <h3 class="text-center">Lista sarcini</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">description</th>
      <th scope="col">status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of listaSarcini">
      <th>{{ user.description }}</th>
      <th>{{ user.status }}</th>
    </tr>
    </tbody>
  </table>
</div>

