<h1 class="header"> Sectie Spital </h1>
<div class="all">

    <div class="container">
          <div class="list_with_button">
            <h3 class="list_header"> Lista medicamente </h3>
            <table mat-table [dataSource]="medicamente" class="mat-elevation-z8">
              <ng-container matColumnDef="nume">
                <th mat-header-cell *matHeaderCellDef> Denumire </th>
                <td mat-cell *matCellDef="let element"> {{element.nume}} </td>
              </ng-container>

              <ng-container matColumnDef="cantitate">
                <th mat-header-cell *matHeaderCellDef> Cantitate Disponibila </th>
                <td mat-cell *matCellDef="let element"> {{element.cantitate_ramasa}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsMedicament"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsMedicament;" (click)="selectMedicament(row)" [style.background]="highlightedMedRows.indexOf(row) != -1 ? 'lightblue' : ''"></tr>
            </table>
            <p> Alegere cantitate </p>
            <input type="number" min="0" id="cantitate_aleasa"/>
            <button (click)="id_med_to_add && addMedicamentToComanda()" class="button_c">Adauga medicament {{nume_med_to_add}}</button>
          </div>


          <div class="list_with_button">
            <h3 class="list_header"> Vizualizare comanda curenta </h3>
            <table mat-table [dataSource]="comanda_curenta" class="mat-elevation-z8">
              <ng-container matColumnDef="nume">
                <th mat-header-cell *matHeaderCellDef> Denumire </th>
                <td mat-cell *matCellDef="let element"> {{element.nume}} </td>
              </ng-container>

              <ng-container matColumnDef="cantitate">
                <th mat-header-cell *matHeaderCellDef> Cantitate </th>
                <td mat-cell *matCellDef="let element"> {{element.cantitate}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsMedicament"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsMedicament;" (click)="selectMedicamentDinComanda(row)" [style.background]="highlightedMedComRows.indexOf(row) != -1 ? 'lightblue' : ''"></tr>
            </table>
            <button (click)="nume_med_to_del && stergeMedDinComanda()" class="button_c">Sterge din comanda {{nume_med_to_del}}</button>
            <button (click)="comanda_curenta && inregistrareComanda()" class="button_inreg">Inregistreaza aceasta comanda</button>
          </div>
    </div>

    <div class="container">
      <div class="list_comenzi">
        <h3 class="list_header"> Vizualizare Comenzi Onorate </h3>
        <table mat-table [dataSource]="comenzi_info" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Nr. Comanda </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="data_plasarii">
            <th mat-header-cell *matHeaderCellDef> Data plasarii </th>
            <td mat-cell *matCellDef="let element"> {{element.data_plasarii}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsComenzi"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsComenzi;" (click)="selectComanda(row)" [style.background]="highlightedComRows.indexOf(row) != -1 ? 'lightblue' : ''"></tr>
        </table>
      </div>


      <div class="viz_comanda">
        <h3 class="list_header"> Vizualizare comanda onorata curenta: {{comanda_curenta_id}}</h3>
        <table mat-table [dataSource]="current_join_info" class="mat-elevation-z8">
          <ng-container matColumnDef="nume">
            <th mat-header-cell *matHeaderCellDef> Denumire medicament </th>
            <td mat-cell *matCellDef="let element"> {{element.nume_medicament}} </td>
          </ng-container>

          <ng-container matColumnDef="cantitate">
            <th mat-header-cell *matHeaderCellDef> Cantitate comandata </th>
            <td mat-cell *matCellDef="let element"> {{element.cantitate_medicament}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsComanda"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsComanda;"></tr>
        </table>
      </div>
    </div>

</div>

<app-logout></app-logout>
